# Model weights are never committed to this repository. `models/` is ignored in
# .gitignore because the pose weights are fetched by the user at install time and
# the CVLFace weights carry training-data terms that forbid redistribution.
# Do not reintroduce LFS rules for models/ without a new licensing decision.
